# OpenAI API Key for the chatbot
OPENAI_API_KEY=your_openai_api_key_here

# Earthquake API Key
EARTHQUAKE_API_KEY=fb10922e-9fa9-4bfe-a44a-7aecc17d5234

# Weather API Key  
WEATHER_API_KEY=620a81f2719043c0bfe180055250609
